﻿@{
    ViewBag.Title = "Home Page";
    Html.SetActive(MenuItems.DASHBOARD);
}
@model IEnumerable<MonitoringTool.Domain.Core.Node>
           <script type="text/javascript">
                   setTimeout(function(){
                       window.location = window.location.href;
                   }, 30000);
           </script>
<table class="table">

    <thead>
        <tr><th>Name</th><th>Online</th><th></th></tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var node in Model)
            {
                
                <tr class="@((!node.Online)?"danger":"")"><td>@Html.ActionLink(node.Name, "Index", "Downtime", new { Id = node.Id }, new { })</td><td>@node.Online</td><td><a href="@Url.Action("Remove", "Node", new { Id = node.Id })" class="glyphicon glyphicon-remove" onclick="return confirm('Sure?');"></a></td></tr>
            }
        }
        else
        {
            <tr><td colspan="4">No rows</td></tr>
        }
    </tbody>



</table>