﻿@{
    ViewBag.Title = "Home Page";
    Html.SetActive(MenuItems.DASHBOARD);
}
@model IEnumerable<MonitoringTool.Domain.Downtimes.Downtime>
           <script type="text/javascript">
                   setTimeout(function() {
                       window.location = window.location.href;
                   }, 30000);
           </script>
<table class="table">

    <thead>
        <tr><th>From</th><th>Till</th><th></th></tr>
    </thead>
    <tbody>
        @if (Model.Any())
{
    foreach (var downtime in Model)
    {

        <tr class="@((downtime.Stop == null)?"danger":"")">
            <td>@downtime.Start.ToLocalTime().ToShortTimeString() @downtime.Start.ToLocalTime().ToShortDateString()</td>
            <td>@if (downtime.Stop != null)
{
                    <span>@downtime.Stop.Value.ToLocalTime().ToShortTimeString()</span>
                    <span>@downtime.Stop.Value.ToLocalTime().ToShortDateString()</span>
                }
            </td>
            <td>
                @Math.Floor(downtime.Duration.TotalHours).ToString().PadLeft(2, '0'):@downtime.Duration.ToString("mm"):@downtime.Duration.ToString("ss")
            </td>
        </tr>
    }
}
else
{
            <tr><td colspan="2">No rows</td></tr>
        }
    </tbody> 



</table>